@page
@model TreeLoversWatching.Pages.Tree.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Trees</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trees.TreeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trees.TreeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trees.Latin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trees.Latin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trees.TreeType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trees.TreeType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trees.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trees.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trees.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trees.Category)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Trees.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
